<!DOCTYPE html>
<html>
<head>
  <title>Can İlaçlama</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="panel panel-default">
        <div class="panel-heading">Menu - <%= current_user.full_name %> - <%= link_to "Çıkış Yap", destroy_user_session_path, method: :delete %></div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item"><%= link_to "Görevler", missions_path %></li>
            <li class="list-group-item"><%= link_to "Müşteriler", customers_path %></li>
            <% if current_user.has_role?(:admin) %>
              <li class="list-group-item"><%= link_to "Personeller", users_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
      <%= yield %> 
    </div>
    
  </div>
</body>
</html>


