<style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #map {
    height: 100%;
  }
  .map-base {
    height: 300px;
    margin-bottom: 20px;
  }
</style>    

<script>
  var map;
  var marker;
  var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
  var labelIndex = 0;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat:  39.1667 , lng: 35.6667},
      zoom: 7
    });
    var geocoder = new google.maps.Geocoder();

    document.getElementById('submit').addEventListener('click', function() {
      geocodeAddress(geocoder, map);
    });

    google.maps.event.addListener(map, 'click', function(event) {
          addMarker(event.latLng, map);
        });
        // Add a marker at the center of the map.
    addMarker(bangalore, map);
  }

  function geocodeAddress(geocoder, resultsMap) {
    var address = document.getElementById('address').value;
    geocoder.geocode({'address': address}, function(results, status) {
      if (status === google.maps.GeocoderStatus.OK) {
        resultsMap.setCenter(results[0].geometry.location);
        
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
      
    });
  }
      // Adds a marker to the map.
    function addMarker(location, map) {
        // Add the marker at the clicked location, and add the next-available label
        // from the array of alphabetical characters.
        if ( marker ) {
          marker.setPosition(location);
        } else {
          marker = new google.maps.Marker({
            position: location,
            label: labels[labelIndex++ % labels.length],
            map: map
          }); 
        }
        document.getElementById('customer_location').value = location;
    } 
    
    google.maps.event.addDomListener(window, 'load', initMap);
    
    $(document).on('pageload', function(){       
      initMap();
    }); 

    setTimeout(function() {
      google.maps.event.trigger(map, "resize");
    }, 3000);

    $(document).on("pagecreate", "#page-top", function () {
      google.maps.event.addDomListener(window, 'load', initMap);
    });
</script>

                            <div id="map"></div>

                        <%= simple_form_for @customer, :url => missions_path, :method => :post do |customer| %>
                        <%= customer.input :first_name %>
                        <%= customer.input :last_name %>
                        <%= customer.input :phone %>

                          
                        <%= customer.input :location %>
                        <%= customer.input :adress %>
                        <%= customer.simple_fields_for :missions do |mission| %>
                          <%= mission.input :description, as: :text %>
                        <% end %>

                            <li><%= customer.button :submit, class: "btn btn-primary next-step" %></li>

                    <% end %>
